body {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: '200px';
}

#search {
    width: 23%;
}


table, th, tr, td{
    border:1px solid black;
    padding: 5px;
    width: 20%;
}

th {
    width: 300%;
}

li {
	display:block;
	width:100px;
	float:left;
}

li a {
	display:block;
}

a {
    font-weight: bold;
    text-decoration: none;
}