body {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: '200px';
}

table, th, tr, td{
    border:1px solid black;
    padding: 5px;
    width: 40%;
}

li {
	display:block;
	width:100px;
	float:left;
}

li a {
	display:block;
}